
*{

padding: 0;
margin:0;
box-sizing:border-box
 }


 .products-holder{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-items: center;
  align-items: center;
  margin: auto;
  gap: 20px;
 }
 .card-product {
  height: 300px;
  background-color: #f2eaee;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 15px;

 }

 .card-product h1{
  font-size: 22px;
 }


 .card-product h2{
  margin-top: 150px;
  

 }